tr{
  text-align: center;
}

th{
  text-align: center;
}


.space-table{
  margin-right: 5rem!important;
  margin-left: 5rem!important;
}

.space-rows{
  padding-right: 2rem;
  padding-left: 5rem;
}

.div-button-on{
  margin-top: 3rem;
  margin-left: 8rem;
}

#button-on{
  margin-left: 25px
}

#button-delete-contact{
  margin-left: 14px;
}
.space-rows-action{
  padding-right: 2.3rem;
  padding-left: 5rem;
}

#buttonAddContact{
  margin-left: 2rem;
}
