
<div *ngIf="currentClient" class="div-button-on">
  <h3 class="display-7 mb-1">CLIENTE {{ currentClient.isOnline ? 'ON' : 'OFF' }}</h3>
  <button id="button-on" type="button" [ngClass]="!currentClient.isOnline ? 'btn btn-success' : 'btn btn-danger'"
  (click)="changeStatusClient()">
    <i class="bi bi-check-circle-fill"></i>
    TURN {{ !currentClient.isOnline ? 'ON' : 'OFF' }}
  </button>
</div>

<header class="text-center mt-2">
  <div class="row justify-content-center align-items-center">
    <div *ngIf="currentClient" class="col-auto">
      <h1 class="display-5">DETLHAES CLIENTE {{ currentClient.name }}</h1>
    </div>
  </div>
</header>

<div class="d-flex justify-content-center">
  <div class="space-table">
    <header class="text-center mt-5">
      <div class="row justify-content-center align-items-center">
        <div *ngIf="currentClient" class="col-auto">
          <h3 class="display-7">CONTATOS</h3>
          <!-- <button type="button"></button> adicionar novo contato-->
        </div>
      </div>
    </header>

    <table class="table container-xl" style="margin-bottom: 75px;">
      <thead>
        <tr>
          <th>#</th>
          <th class="space-rows" scope="col">Nome</th>
          <th class="space-rows-action">Ação</th>
        </tr>
      </thead>
      <tbody *ngIf="currentClient" class="table-group-divider">
        <tr *ngFor="let item of listClients; let i=index;">
          <td>{{ i+1 }}</td>
          <td class="space-rows">{{ item.name }}</td>
          <td class="space-rows">
            <button type="button" class="btn btn-primary" (click)="openModalMessageForClient(item.id, item.name)">
              <i class="bi bi-send"></i>
            </button>
            <button type="button" class="btn btn-danger" id="button-delete-contact">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
  </div>

<header class="text-center mt-5">
  <div class="row justify-content-center align-items-center">
    <div *ngIf="currentClient" class="col-auto">
      <h3 class="display-7">MESSAGES RECEBIDAS</h3>
    </div>
  </div>
</header>

<table class="table container-xl" style="margin-bottom: 75px;">
  <thead>
    <tr>
      <th>#</th>
      <th scope="col">Message</th>
      <th>Data de envio</th>
    </tr>
  </thead>
  <tbody *ngIf="currentClient" class="table-group-divider">
    <tr *ngFor="let item of currentClient.messages; let i=index;">
      <td>{{ i+1 }}</td>
      <td>{{ item.body }}</td>
      <td>{{ item.sendMessageDateFormat }}</td>
    </tr>
  </tbody>
</table>
