tr{
  text-align: center;
}

th{
  text-align: center;
}
.topics-list {
  padding: 0; /* Remover o preenchimento padrão da lista */
  list-style-type: none; /* Remover os pontos padrão da lista */
}

.topics-list-item {
  margin-left: 8px; /* Ajustar a margem à esquerda para compensar o ponto */
}
#buttonCreate{
  margin-left: 40rem;
}
.space-table{
  margin-right: 5rem!important;
  margin-left: 5rem!important;
}

#send-message{
  margin-left: 18px;
}
#topics-button{
  padding-right: 3rem;
  padding-left: 7rem;
}
#clients-button{
  padding-right: 7rem;
  padding-left: 7rem;
}

.div-button-on{
  margin-top: 3rem;
  margin-left: 8rem;
}

#button-on{
  margin-left: 25px
}
