#circle {
    position: absolute;
    width: 100%;
    height: 200vh;
    bottom: 0;
    right: 0;

    background: #693DBF;
    clip-path: circle(46% at right 107%);
}

.describe{
    margin-top: 8rem;
    margin-left: 4rem;
}
#back{
  height: 14cm;
}
