<div class="messages-queue">
  <h2 class="display-7">TOTAL DE MENSAGENS PENDENTES NAS FILAS: {{ countMessages }}</h2>
</div>

<header class="text-center mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-auto">
      <h1 class="display-5">FILAS</h1>
    </div>
    <div class="col-auto" id="buttonCreate">
      <button mat-raised-button  class="btn btn-success" (click)="createQueue('CRIAR FILA', 'Nome da fila')">
        <i class="bi bi-plus"></i> Criar Fila
      </button>
    </div>
  </div>
</header>

<table class="table container-xl" style="margin-bottom: 75px;">
  <thead>
    <tr>
      <th>#</th>
      <th scope="col">Nome</th>
      <th scope="col">Topico</th>
      <th scope="col">Cliente</th>
      <th class="image">Ação</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let item of list; let i=index;">
      <td>{{ i+1 }}</td>
      <td>{{ item.name }}</td>
      <td>
        <ul class="topics-list">
          <ng-container *ngIf="item.topicsNames && item.topicsNames.length > 0; else noTopics">
            <li *ngFor="let topic of item.topicsNames" class="topics-list-item">{{ topic }}</li>
          </ng-container>
        </ul>
        <ng-template #noTopics>
          <p>#</p>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="item.clientName; else noClient">
          <p>{{ item.clientName }}</p>
        </ng-container>
        <ng-template #noClient>
          <p>#</p>
        </ng-template>
      </td>
      <td><button type="button" class="btn btn-danger" (click)="clickDeleteQueue(item.id)">
        <i class="bi bi-trash"></i> Excluir
      </button></td>
    </tr>


  </tbody>
</table>
