tr{
  text-align: center;
}

th{
  text-align: center;
}
.topics-list {
  padding: 0; /* Remover o preenchimento padrão da lista */
  list-style-type: none; /* Remover os pontos padrão da lista */
}

.topics-list-item {
  margin-left: 8px;
}
#buttonCreate{
  margin-left: 40rem;
}


.messages-queue{
  margin: 3rem;
}
