<div class="modal-background"></div>
    <div class="modal-container">
      <h2 id="title" mat-dialog-title>{{ data.title }}</h2>
      <mat-dialog-content>
        <mat-form-field>
          <input matInput [(ngModel)]="data.name" [placeholder]="data.parameterPlaceholder">
        </mat-form-field>
        <!-- <mat-form-field *ngIf="shouldRoutingKey()">
          <input matInput [(ngModel)]="data.routingKey" [placeholder]="data.routingKeyPlaceholder">
        </mat-form-field> -->
      </mat-dialog-content>
      <mat-dialog-actions _ngcontent-rsb-c12="" class="mat-mdc-dialog-actions mdc-dialog__actions">
        <div class="button-container">
          <button mat-button class="btn btn-danger" (click)="onNoClick()">Cancelar</button>
          <button mat-button class="btn btn-success" [mat-dialog-close]="data" [disabled]="!isFormValid()" [attr.cdkFocusInitial]="isFormValid() ? true : null">Enviar</button>
        </div>
      </mat-dialog-actions>

    </div>
